.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 2em;
}

.cardContainer {
  display: flex;  
  flex-direction: row;  
}

.HPBar {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.RoomCell {
  fill: grey;
}

.CrystallizedCell {
  fill: gold;
}

.BlackCrystalCell {
  fill: black;
}
.CellClickable:hover {
  fill: blue;
  cursor: pointer;
}
