.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 2em;
}

.RoomCell {
  fill: grey;
}

.CrystalCell {
  fill: gold;
}

.Cell:hover {
  fill: blue;
}
